Pandas is a Python package providing data-analysis tools.

http://pandas.pydata.org/

Official Documentation

http://pandas.pydata.org/pandas-docs/stable/

Installation options:
    
    pip install pandas
    
It is also included in standard scientific Python distributions 

https://store.continuum.io/cshop/anaconda/

https://www.enthought.com/products/epd/

In [140]:
# import numpy and pandas packages
import numpy as np
import pandas as pd

Most of the utility of Pandas comes from the Dataframe object.

A Dataframe is a 2D table with named columns. It is similar to the DataFrame structure in R, but it also has 'pythonic' functionality built in.

In [141]:
# Empty Dataframe Object
df = pd.DataFrame()
type(df)

pandas.core.frame.DataFrame

Pandas provides easy ways to load in a dataset from common data sources.

Here I load a csv file for the popular iris 'practice' dataset, from the UCI Machine Learning Repository.
http://archive.ics.uci.edu/ml/datasets/Iris

**Dont worry: no machine learning will be taught today ;)

In [142]:
# load data from csv to DataFrame
df = pd.DataFrame.from_csv('iris.csv')

# display the first part of the dataset
df.head()

              sepal_width  petal_length  petal_width   class_name
sepal_length
5.1                   3.5           1.4          0.2  Iris-setosa
4.9                   3.0           1.4          0.2  Iris-setosa
4.7                   3.2           1.3          0.2  Iris-setosa
4.6                   3.1           1.5          0.2  Iris-setosa
5.0                   3.6           1.4          0.2  Iris-setosa

When we want to quickly see what the data looks like

    DataFrame.head()
    
and    

    DataFrame.tail() 
    
Display the data first and last parts of the dataframe.

We could can also just let python display the full DataFrame, but this begins to cluttet the screen.

In [143]:
df

              sepal_width  petal_length  petal_width      class_name
sepal_length
5.1                   3.5           1.4          0.2     Iris-setosa
4.9                   3.0           1.4          0.2     Iris-setosa
4.7                   3.2           1.3          0.2     Iris-setosa
4.6                   3.1           1.5          0.2     Iris-setosa
5.0                   3.6           1.4          0.2     Iris-setosa
5.4                   3.9           1.7          0.4     Iris-setosa
4.6                   3.4           1.4          0.3     Iris-setosa
5.0                   3.4           1.5          0.2     Iris-setosa
4.4                   2.9           1.4          0.2     Iris-setosa
4.9                   3.1           1.5          0.1     Iris-setosa
5.4                   3.7           1.5          0.2     Iris-setosa
4.8                   3.4           1.6          0.2     Iris-setosa
4.8                   3.0           1.4          0.1     Iris-setosa
4.3                   3.0           1.1          0.1     Iris-setosa
5.8                   4.0           1.2          0.2     Iris-setosa
5.7                   4.4           1.5          0.4     Iris-setosa
5.4                   3.9           1.3          0.4     Iris-setosa
5.1                   3.5           1.4          0.3     Iris-setosa
5.7                   3.8           1.7          0.3     Iris-setosa
5.1                   3.8           1.5          0.3     Iris-setosa
5.4                   3.4           1.7          0.2     Iris-setosa
5.1                   3.7           1.5          0.4     Iris-setosa
4.6                   3.6           1.0          0.2     Iris-setosa
5.1                   3.3           1.7          0.5     Iris-setosa
4.8                   3.4           1.9          0.2     Iris-setosa
5.0                   3.0           1.6          0.2     Iris-setosa
5.0                   3.4           1.6          0.4     Iris-setosa
5.2                   3.5           1.5          0.2     Iris-setosa
5.2                   3.4           1.4          0.2     Iris-setosa
4.7                   3.2           1.6          0.2     Iris-setosa
...                   ...           ...          ...             ...
6.9                   3.2           5.7          2.3  Iris-virginica
5.6                   2.8           4.9          2.0  Iris-virginica
7.7                   2.8           6.7          2.0  Iris-virginica
6.3                   2.7           4.9          1.8  Iris-virginica
6.7                   3.3           5.7          2.1  Iris-virginica
7.2                   3.2           6.0          1.8  Iris-virginica
6.2                   2.8           4.8          1.8  Iris-virginica
6.1                   3.0           4.9          1.8  Iris-virginica
6.4                   2.8           5.6          2.1  Iris-virginica
7.2                   3.0           5.8          1.6  Iris-virginica
7.4                   2.8           6.1          1.9  Iris-virginica
7.9                   3.8           6.4          2.0  Iris-virginica
6.4                   2.8           5.6          2.2  Iris-virginica
6.3                   2.8           5.1          1.5  Iris-virginica
6.1                   2.6           5.6          1.4  Iris-virginica
7.7                   3.0           6.1          2.3  Iris-virginica
6.3                   3.4           5.6          2.4  Iris-virginica
6.4                   3.1           5.5          1.8  Iris-virginica
6.0                   3.0           4.8          1.8  Iris-virginica
6.9                   3.1           5.4          2.1  Iris-virginica
6.7                   3.1           5.6          2.4  Iris-virginica
6.9                   3.1           5.1          2.3  Iris-virginica
5.8                   2.7           5.1          1.9  Iris-virginica
6.8                   3.2           5.9          2.3  Iris-virginica
6.7                   3.3           5.7          2.5  Iris-virginica
6.7                   3.0           5.2          2.3  Iris-virginica
6.3                   2.5           5.0          1.9  Iris-virginica
6.5                   3.0           5.2          2.0  Iris-virginica
6.2                   3.4           5.4          2.3  Iris-virginica
5.9                   3.0           5.1          1.8  Iris-virginica

[150 rows x 4 columns]

We can also very quickly get some summary statistics of the dataframe.

In [144]:
df.describe()

       sepal_width  petal_length  petal_width
count   150.000000    150.000000   150.000000
mean      3.054000      3.758667     1.198667
std       0.433594      1.764420     0.763161
min       2.000000      1.000000     0.100000
25%       2.800000      1.600000     0.300000
50%       3.000000      4.350000     1.300000
75%       3.300000      5.100000     1.800000
max       4.400000      6.900000     2.500000

Notice that this syntax treats all these functions as ```class``` functions of the ```DataFrame``` object. This should be familiar to those of you with a Python background.

By default Pandas made treats the first column differently 

...this is the index column, which is always included in the dataframe.

Since the the first row isn't particularly special we may instead want to set this to a default index.

In [145]:
# load data from csv to DataFrame
df = pd.DataFrame.from_csv('iris.csv',index_col=False)

df.head()

   sepal_length  sepal_width  petal_length  petal_width   class_name
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

Pandas provides functions for importing or exporting data in a variety of different formats.

    to_csv
    to_excel
    to_hdf
    to_sql
    to_json
    to_msgpack (experimental)
    to_html
    to_gbq (experimental)
    to_stata
    to_clipboard
    to_pickle

In [225]:
# DISCLAIMER: I do not recommend the use of Microsoft Excel
writer = pd.ExcelWriter('output.xlsx')
df.to_excel(writer,'Sheet1')

Once in a DataFrame object we can index the data in a variety of ways.

In [146]:
# select a particular column by key. (like a dict object)
width = df['sepal_width']
width.head()

0    3.5
1    3.0
2    3.2
3    3.1
4    3.6
Name: sepal_width, dtype: float64

The selected column is a pandas ```Series``` object.

In [147]:
type(width)

pandas.core.series.Series

In [148]:
# or in a more pythonic way
length = df.sepal_width
length.tail()

145    3.0
146    2.5
147    3.0
148    3.4
149    3.0
Name: sepal_width, dtype: float64

In [149]:
# or a subset of the columns using a list
widths = df[['sepal_width','petal_width','class_name']]
widths.head()

   sepal_width  petal_width   class_name
0          3.5          0.2  Iris-setosa
1          3.0          0.2  Iris-setosa
2          3.2          0.2  Iris-setosa
3          3.1          0.2  Iris-setosa
4          3.6          0.2  Iris-setosa

In [150]:
# the index column is special
df.index

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            140, 141, 142, 143, 144, 145, 146, 147, 148, 149],
           dtype='int64', length=150)

In [151]:
# selecting rows
df[10:15]

    sepal_length  sepal_width  petal_length  petal_width   class_name
10           5.4          3.7           1.5          0.2  Iris-setosa
11           4.8          3.4           1.6          0.2  Iris-setosa
12           4.8          3.0           1.4          0.1  Iris-setosa
13           4.3          3.0           1.1          0.1  Iris-setosa
14           5.8          4.0           1.2          0.2  Iris-setosa

If you have worked with numpy arrays before, then row indexing should look familiar.

In fact the pandas ```DataFrame``` is built upon numpy arrays, so a lot functionality carries over.

In [152]:
# index single value like a numpy array
df.iloc[10,2]

1.5

In [153]:
# Series behave like 1D numpy arrays
df.class_name[:5]

0    Iris-setosa
1    Iris-setosa
2    Iris-setosa
3    Iris-setosa
4    Iris-setosa
Name: class_name, dtype: object

Each pandas column (or ```Series```) has entries of a particular type of data. These are denoted by numpy ```dtype```s.

In our example we can see the ```dtype```s, along with other useful information using.

In [154]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150 entries, 0 to 149
Data columns (total 5 columns):
sepal_length    150 non-null float64
sepal_width     150 non-null float64
petal_length    150 non-null float64
petal_width     150 non-null float64
class_name      150 non-null object
dtypes: float64(4), object(1)
memory usage: 7.0+ KB

```df.class_name``` has a different dtype than the othe columns since it holds non-numeric data.

In [155]:
# return only dtypes
df.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
class_name       object
dtype: object

Note that we never explicitly set these. Pandas will try to do this automatically when you import data.

Adding to a Dataframe

We can create a new column for our dataframe

In [156]:
df['new_field'] = 0.
df.head()

,sepal_length,sepal_width,petal_length,petal_width,class_name,new_field
0,5.1,3.5,1.4,0.2,Iris-setosa,0
1,4.9,3.0,1.4,0.2,Iris-setosa,0
2,4.7,3.2,1.3,0.2,Iris-setosa,0
3,4.6,3.1,1.5,0.2,Iris-setosa,0
4,5.0,3.6,1.4,0.2,Iris-setosa,0

In [157]:
# This is not a valid way of adding a column
df.new_field2 = 0.
df.head()

,sepal_length,sepal_width,petal_length,petal_width,class_name,new_field
0,5.1,3.5,1.4,0.2,Iris-setosa,0
1,4.9,3.0,1.4,0.2,Iris-setosa,0
2,4.7,3.2,1.3,0.2,Iris-setosa,0
3,4.6,3.1,1.5,0.2,Iris-setosa,0
4,5.0,3.6,1.4,0.2,Iris-setosa,0

We can delete a column using ```drop()```

In [158]:
df.drop('new_field',1)
df.head()

,sepal_length,sepal_width,petal_length,petal_width,class_name,new_field
0,5.1,3.5,1.4,0.2,Iris-setosa,0
1,4.9,3.0,1.4,0.2,Iris-setosa,0
2,4.7,3.2,1.3,0.2,Iris-setosa,0
3,4.6,3.1,1.5,0.2,Iris-setosa,0
4,5.0,3.6,1.4,0.2,Iris-setosa,0

Why didnt this work?

Modifying functions return a copy of the modified DataFrame by default.

So we need to do

In [159]:
df = df.drop('new_field',1)
df.head()

   sepal_length  sepal_width  petal_length  petal_width   class_name
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

or use the ```inplace``` option

In [160]:
#df.drop('new_field',1,inplace=True)
#df.head()

It is straightforward to build new columns using mathematical operations on existing columns.

In [161]:
df['sepal_area'] = df.sepal_length * df.sepal_width
df['petal_area'] = df.petal_length * df.petal_width
df.head()

,sepal_length,sepal_width,petal_length,petal_width,class_name,sepal_area,petal_area
0,5.1,3.5,1.4,0.2,Iris-setosa,17.85,0.28
1,4.9,3.0,1.4,0.2,Iris-setosa,14.70,0.28
2,4.7,3.2,1.3,0.2,Iris-setosa,15.04,0.26
3,4.6,3.1,1.5,0.2,Iris-setosa,14.26,0.30
4,5.0,3.6,1.4,0.2,Iris-setosa,18.00,0.28

More complicated functions can be applied to a column using ```apply()```.

For example to convert a text field to lowercase.

In [162]:
df.class_name = df.class_name.apply(lambda x: str.lower(x))
df.head()

,sepal_length,sepal_width,petal_length,petal_width,class_name,sepal_area,petal_area
0,5.1,3.5,1.4,0.2,iris-setosa,17.85,0.28
1,4.9,3.0,1.4,0.2,iris-setosa,14.70,0.28
2,4.7,3.2,1.3,0.2,iris-setosa,15.04,0.26
3,4.6,3.1,1.5,0.2,iris-setosa,14.26,0.30
4,5.0,3.6,1.4,0.2,iris-setosa,18.00,0.28

```lambda``` is a convenient way to write a short 'anonymous' function, but this also works with normal function definitions.

In [163]:
def caps(x):
    
    return str.upper(x)

df.class_name = df.class_name.apply(caps)
df.head()

,sepal_length,sepal_width,petal_length,petal_width,class_name,sepal_area,petal_area
0,5.1,3.5,1.4,0.2,IRIS-SETOSA,17.85,0.28
1,4.9,3.0,1.4,0.2,IRIS-SETOSA,14.70,0.28
2,4.7,3.2,1.3,0.2,IRIS-SETOSA,15.04,0.26
3,4.6,3.1,1.5,0.2,IRIS-SETOSA,14.26,0.30
4,5.0,3.6,1.4,0.2,IRIS-SETOSA,18.00,0.28

There are a variety of useful things you can do with 'classification' columns.

In [164]:
# Return all unique values in class_name
df.class_name.unique()

array(['IRIS-SETOSA', 'IRIS-VERSICOLOR', 'IRIS-VIRGINICA'], dtype=object)

In [165]:
# selecting a part of the name
df_virginica = df[ df.class_name == 'IRIS-VIRGINICA' ]
df_virginica.head()

,sepal_length,sepal_width,petal_length,petal_width,class_name,sepal_area,petal_area
100,6.3,3.3,6.0,2.5,IRIS-VIRGINICA,20.79,15.00
101,5.8,2.7,5.1,1.9,IRIS-VIRGINICA,15.66,9.69
102,7.1,3.0,5.9,2.1,IRIS-VIRGINICA,21.30,12.39
103,6.3,2.9,5.6,1.8,IRIS-VIRGINICA,18.27,10.08
104,6.5,3.0,5.8,2.2,IRIS-VIRGINICA,19.50,12.76

This kind of indexing can similarly be used to filter for numberical data with specific ranges.

In [166]:
df[df.sepal_length >= 7.0].head()

,sepal_length,sepal_width,petal_length,petal_width,class_name,sepal_area,petal_area
50,7.0,3.2,4.7,1.4,IRIS-VERSICOLOR,22.40,6.58
102,7.1,3.0,5.9,2.1,IRIS-VIRGINICA,21.30,12.39
105,7.6,3.0,6.6,2.1,IRIS-VIRGINICA,22.80,13.86
107,7.3,2.9,6.3,1.8,IRIS-VIRGINICA,21.17,11.34
109,7.2,3.6,6.1,2.5,IRIS-VIRGINICA,25.92,15.25

In [167]:
df[(df.petal_area >= 10.) & (df.petal_area < 11.)]

,sepal_length,sepal_width,petal_length,petal_width,class_name,sepal_area,petal_area
103,6.3,2.9,5.6,1.8,IRIS-VIRGINICA,18.27,10.08
108,6.7,2.5,5.8,1.8,IRIS-VIRGINICA,16.75,10.44
110,6.5,3.2,5.1,2.0,IRIS-VIRGINICA,20.80,10.20
111,6.4,2.7,5.3,1.9,IRIS-VIRGINICA,17.28,10.07
113,5.7,2.5,5.0,2.0,IRIS-VIRGINICA,14.25,10.00
125,7.2,3.2,6.0,1.8,IRIS-VIRGINICA,23.04,10.80
147,6.5,3.0,5.2,2.0,IRIS-VIRGINICA,19.50,10.40

How does this work? Boolean Indexing: the output of logical operators on an array (or column) returns an array bools, which determines whether each row is returned or not.

In [168]:
df.sepal_width > 3.

0       True
1      False
2       True
3       True
4       True
5       True
6       True
7       True
8      False
9       True
10      True
11      True
12     False
13     False
14      True
15      True
16      True
17      True
18      True
19      True
20      True
21      True
22      True
23      True
24      True
25     False
26      True
27      True
28      True
29      True
       ...
120     True
121    False
122    False
123    False
124     True
125     True
126    False
127    False
128    False
129    False
130    False
131     True
132    False
133    False
134    False
135    False
136     True
137     True
138    False
139     True
140     True
141     True
142    False
143     True
144     True
145    False
146    False
147    False
148     True
149    False
Name: sepal_width, dtype: bool

Any more comlicated operation yielding such an array of bools can be used to select parts of the data.

Another flavor of this is boolean indexing uses ```isin()```

In [169]:
# Select rows whose class_name is included in a list
part = df[df.class_name.isin(['IRIS-SETOSA','IRIS-VERSICOLOR','IRIS-OTHER-NAME'])]
print len(part), len(df)

100 150

Sampling: pandas also provides ways for selecting a random sample of rows.

In [170]:
# take a random sample of 10 different rows
df.sample(n=10)

,sepal_length,sepal_width,petal_length,petal_width,class_name,sepal_area,petal_area
75,6.6,3.0,4.4,1.4,IRIS-VERSICOLOR,19.80,6.16
112,6.8,3.0,5.5,2.1,IRIS-VIRGINICA,20.40,11.55
99,5.7,2.8,4.1,1.3,IRIS-VERSICOLOR,15.96,5.33
9,4.9,3.1,1.5,0.1,IRIS-SETOSA,15.19,0.15
63,6.1,2.9,4.7,1.4,IRIS-VERSICOLOR,17.69,6.58
116,6.5,3.0,5.5,1.8,IRIS-VIRGINICA,19.50,9.90
123,6.3,2.7,4.9,1.8,IRIS-VIRGINICA,17.01,8.82
77,6.7,3.0,5.0,1.7,IRIS-VERSICOLOR,20.10,8.50
16,5.4,3.9,1.3,0.4,IRIS-SETOSA,21.06,0.52
84,5.4,3.0,4.5,1.5,IRIS-VERSICOLOR,16.20,6.75

Adding or combining data

There are many ways of adding data to a DataFrame. These include using ```append()``` or ```concat()```.

In [171]:
# build a 1-row DataFrame from a list and add with append
new = pd.DataFrame([[1.,2.,'IRIS-IRONICA']],columns=['petal_width','petal_length','class_name'])

df = df.append(new)

# same thing using columns from df
newer = pd.DataFrame([[1.,2.,3.,4.,'IRIS-IRONICA',0.,0.]],columns=df.columns)
df = df.append(newer)

df.tail()

,class_name,petal_area,petal_length,petal_width,sepal_area,sepal_length,sepal_width
147,IRIS-VIRGINICA,10.40,5.2,2.0,19.5,6.5,3.0
148,IRIS-VIRGINICA,12.42,5.4,2.3,21.08,6.2,3.4
149,IRIS-VIRGINICA,9.18,5.1,1.8,17.7,5.9,3.0
0,IRIS-IRONICA,NaN,2.0,1.0,NaN,NaN,NaN
0,1,2.00,3.0,4.0,IRIS-IRONICA,0.0,0.0

Note: You do  need to be careful with column labels while doing this. Since they can be rearranged

A safer way might be with a ```dict```

In [172]:
newest = pd.DataFrame([{'class_name':'IRIS-IRONICA','sepal_width':5.0}])
df = df.append(newest)
df.tail()

,class_name,petal_area,petal_length,petal_width,sepal_area,sepal_length,sepal_width
148,IRIS-VIRGINICA,12.42,5.4,2.3,21.08,6.2,3.4
149,IRIS-VIRGINICA,9.18,5.1,1.8,17.7,5.9,3.0
0,IRIS-IRONICA,NaN,2.0,1.0,NaN,NaN,NaN
0,1,2.00,3.0,4.0,IRIS-IRONICA,0.0,0.0
0,IRIS-IRONICA,NaN,NaN,NaN,NaN,NaN,5.0

In [173]:
# Lets remove the bad entry (with apply)
df = df[df.class_name.apply(lambda x: not isinstance(x,float)) ]

# and fix index column
df.index = np.arange(len(df))

df.tail()

,class_name,petal_area,petal_length,petal_width,sepal_area,sepal_length,sepal_width
147,IRIS-VIRGINICA,10.40,5.2,2.0,19.5,6.5,3.0
148,IRIS-VIRGINICA,12.42,5.4,2.3,21.08,6.2,3.4
149,IRIS-VIRGINICA,9.18,5.1,1.8,17.7,5.9,3.0
150,IRIS-IRONICA,NaN,2.0,1.0,NaN,NaN,NaN
151,IRIS-IRONICA,NaN,NaN,NaN,NaN,NaN,5.0

Missing Data:

As you probably noticed in the previous example we were able to add data where the new entries were missing some of the attributes.

This is an important feature of Pandas and is important when working with sources of data that may be incomplete or merged from different sources.

Pandas treats numpy NaNs or python None as 'missing data'

In [174]:
# Add some missing data
df.iloc[2,2] = np.NaN
df.iloc[3,3] = None
df.head()

,class_name,petal_area,petal_length,petal_width,sepal_area,sepal_length,sepal_width
0,IRIS-SETOSA,0.28,1.4,0.2,17.85,5.1,3.5
1,IRIS-SETOSA,0.28,1.4,0.2,14.7,4.9,3.0
2,IRIS-SETOSA,0.26,NaN,0.2,15.04,4.7,3.2
3,IRIS-SETOSA,0.30,1.5,NaN,14.26,4.6,3.1
4,IRIS-SETOSA,0.28,1.4,0.2,18,5.0,3.6

In [175]:
# Panda's built in statstical functions handle missing data gracefully
df.mean()

petal_area      5.793133
petal_length    3.763333
petal_width     1.204000
sepal_length    5.843333
sepal_width     3.066887
dtype: float64

In [176]:
# isnull() can be used to find missing data (and remove with boolean indexing)
df.petal_length.isnull().head()

0    False
1    False
2     True
3    False
4    False
Name: petal_length, dtype: bool

In [177]:
# dropna() returns only complete entries.
x = df.dropna()
x.head()

,class_name,petal_area,petal_length,petal_width,sepal_area,sepal_length,sepal_width
0,IRIS-SETOSA,0.28,1.4,0.2,17.85,5.1,3.5
1,IRIS-SETOSA,0.28,1.4,0.2,14.7,4.9,3.0
4,IRIS-SETOSA,0.28,1.4,0.2,18,5.0,3.6
5,IRIS-SETOSA,0.68,1.7,0.4,21.06,5.4,3.9
6,IRIS-SETOSA,0.42,1.4,0.3,15.64,4.6,3.4

In [178]:
# you can also replace null 
x = df.fillna(0)
x.tail()

,class_name,petal_area,petal_length,petal_width,sepal_area,sepal_length,sepal_width
147,IRIS-VIRGINICA,10.40,5.2,2.0,19.50,6.5,3.0
148,IRIS-VIRGINICA,12.42,5.4,2.3,21.08,6.2,3.4
149,IRIS-VIRGINICA,9.18,5.1,1.8,17.70,5.9,3.0
150,IRIS-IRONICA,0.00,2.0,1.0,0.00,0.0,0.0
151,IRIS-IRONICA,0.00,0.0,0.0,0.00,0.0,5.0

Another option which makes sense with some datasets (particularly timeseries) is to fill in missing data with interpolated values using

    DataFrame.interpolate()

Groupby: This creates a object that divides the data into groups. This can be a natural way of comparing different subsets of the data.

This is a standard operation borrowed from SQL-based tools.

In [179]:
gb = df.groupby('class_name')

# groups gives a dictionary of the indices for each group
print gb.groups

{'IRIS-VIRGINICA': [100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149], 'IRIS-SETOSA': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49], 'IRIS-VERSICOLOR': [50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99], 'IRIS-IRONICA': [150, 151]}

In [180]:
# display a particular group
gb.get_group('IRIS-IRONICA')

,class_name,petal_area,petal_length,petal_width,sepal_area,sepal_length,sepal_width
150,IRIS-IRONICA,NaN,2,1,NaN,NaN,NaN
151,IRIS-IRONICA,NaN,NaN,NaN,NaN,NaN,5

In [181]:
# a groupby object has some specific functions to give you information about each group
gb.count()

,petal_area,petal_length,petal_width,sepal_area,sepal_length,sepal_width
class_name,,,,,,
IRIS-IRONICA,0,1,1,0,0,1
IRIS-SETOSA,50,49,49,50,50,50
IRIS-VERSICOLOR,50,50,50,50,50,50
IRIS-VIRGINICA,50,50,50,50,50,50

In [182]:
# aggregate() applys a function
gb.aggregate(sum)

,petal_area,petal_length,petal_width,sepal_length,sepal_width
class_name,,,,,
IRIS-IRONICA,NaN,2.0,1.0,NaN,5.0
IRIS-SETOSA,18.14,71.9,12.0,250.3,170.9
IRIS-VERSICOLOR,286.02,213.0,66.3,296.8,138.5
IRIS-VIRGINICA,564.81,277.6,101.3,329.4,148.7

In [183]:
# or multiple functions
gb.aggregate([np.mean,np.std,max])

                petal_area                  petal_length                 \
                      mean       std    max         mean       std  max
class_name
IRIS-IRONICA           NaN       NaN    NaN     2.000000       NaN  2.0
IRIS-SETOSA         0.3628  0.183248   0.96     1.467347  0.173671  1.9
IRIS-VERSICOLOR     5.7204  1.368403   8.64     4.260000  0.469911  5.1
IRIS-VIRGINICA     11.2962  2.157412  15.87     5.552000  0.551895  6.9

                petal_width                sepal_length                 \
                       mean       std  max         mean       std  max
class_name
IRIS-IRONICA       1.000000       NaN  1.0          NaN       NaN  NaN
IRIS-SETOSA        0.244898  0.108130  0.6        5.006  0.352490  5.8
IRIS-VERSICOLOR    1.326000  0.197753  1.8        5.936  0.516171  7.0
IRIS-VIRGINICA     2.026000  0.274650  2.5        6.588  0.635880  7.9

                sepal_width
                       mean       std  max
class_name
IRIS-IRONICA          5.000       NaN  5.0
IRIS-SETOSA           3.418  0.381024  4.4
IRIS-VERSICOLOR       2.770  0.313798  3.4
IRIS-VIRGINICA        2.974  0.322497  3.8

A related concept is a multi-index DataFrame

In [185]:
gb.groups.keys()

['IRIS-VIRGINICA', 'IRIS-SETOSA', 'IRIS-VERSICOLOR', 'IRIS-IRONICA']

In [204]:
# Make a multi-index dataframe where the first index are the groups from the grouby
# (There is probably a simpler way of doing this)
gs = []
for key in gb.groups.keys():
    g = gb.get_group(key)
    g.set_index('class_name',inplace=True)
    g.index = pd.MultiIndex(levels=[[key],np.arange(len(g))],
                            labels=[np.zeros(len(g)),np.arange(len(g))],
                            names=['class_name','number'] )
    gs.append(g)

df_multi = pd.concat(gs)

This produces a DataFrame with rows indexed by two keys instead of one.

In [205]:
df_multi

                        petal_area  petal_length  petal_width sepal_area  \
class_name      number
IRIS-VIRGINICA  0            15.00           6.0          2.5      20.79
                1             9.69           5.1          1.9      15.66
                2            12.39           5.9          2.1       21.3
                3            10.08           5.6          1.8      18.27
                4            12.76           5.8          2.2       19.5
                5            13.86           6.6          2.1       22.8
                6             7.65           4.5          1.7      12.25
                7            11.34           6.3          1.8      21.17
                8            10.44           5.8          1.8      16.75
                9            15.25           6.1          2.5      25.92
                10           10.20           5.1          2.0       20.8
                11           10.07           5.3          1.9      17.28
                12           11.55           5.5          2.1       20.4
                13           10.00           5.0          2.0      14.25
                14           12.24           5.1          2.4      16.24
                15           12.19           5.3          2.3      20.48
                16            9.90           5.5          1.8       19.5
                17           14.74           6.7          2.2      29.26
                18           15.87           6.9          2.3      20.02
                19            7.50           5.0          1.5       13.2
                20           13.11           5.7          2.3      22.08
                21            9.80           4.9          2.0      15.68
                22           13.40           6.7          2.0      21.56
                23            8.82           4.9          1.8      17.01
                24           11.97           5.7          2.1      22.11
                25           10.80           6.0          1.8      23.04
                26            8.64           4.8          1.8      17.36
                27            8.82           4.9          1.8       18.3
                28           11.76           5.6          2.1      17.92
                29            9.28           5.8          1.6       21.6
...                            ...           ...          ...        ...
IRIS-VERSICOLOR 22            7.35           4.9          1.5      15.75
                23            5.64           4.7          1.2      17.08
                24            5.59           4.3          1.3      18.56
                25            6.16           4.4          1.4       19.8
                26            6.72           4.8          1.4      19.04
                27            8.50           5.0          1.7       20.1
                28            6.75           4.5          1.5       17.4
                29            3.50           3.5          1.0      14.82
                30            4.18           3.8          1.1       13.2
                31            3.70           3.7          1.0       13.2
                32            4.68           3.9          1.2      15.66
                33            8.16           5.1          1.6       16.2
                34            6.75           4.5          1.5       16.2
                35            7.20           4.5          1.6       20.4
                36            7.05           4.7          1.5      20.77
                37            5.72           4.4          1.3      14.49
                38            5.33           4.1          1.3       16.8
                39            5.20           4.0          1.3      13.75
                40            5.28           4.4          1.2       14.3
                41            6.44           4.6          1.4       18.3
                42            4.80           4.0          1.2      15.08
                43            3.30           3.3          1.0       11.5
                44            5.46           4.2          1.3      15.12
                45            5.04           4.2          1.2       17.1
                46            5.46           4.2          1.3      16.53
                47            5.59           4.3          1.3      17.98
                48            3.30           3.0          1.1      12.75
                49            5.33           4.1          1.3      15.96
IRIS-IRONICA    0              NaN           2.0          1.0        NaN
                1              NaN           NaN          NaN        NaN

                        sepal_length  sepal_width
class_name      number
IRIS-VIRGINICA  0                6.3          3.3
                1                5.8          2.7
                2                7.1          3.0
                3                6.3          2.9
                4                6.5          3.0
                5                7.6          3.0
                6                4.9          2.5
                7                7.3          2.9
                8                6.7          2.5
                9                7.2          3.6
                10               6.5          3.2
                11               6.4          2.7
                12               6.8          3.0
                13               5.7          2.5
                14               5.8          2.8
                15               6.4          3.2
                16               6.5          3.0
                17               7.7          3.8
                18               7.7          2.6
                19               6.0          2.2
                20               6.9          3.2
                21               5.6          2.8
                22               7.7          2.8
                23               6.3          2.7
                24               6.7          3.3
                25               7.2          3.2
                26               6.2          2.8
                27               6.1          3.0
                28               6.4          2.8
                29               7.2          3.0
...                              ...          ...
IRIS-VERSICOLOR 22               6.3          2.5
                23               6.1          2.8
                24               6.4          2.9
                25               6.6          3.0
                26               6.8          2.8
                27               6.7          3.0
                28               6.0          2.9
                29               5.7          2.6
                30               5.5          2.4
                31               5.5          2.4
                32               5.8          2.7
                33               6.0          2.7
                34               5.4          3.0
                35               6.0          3.4
                36               6.7          3.1
                37               6.3          2.3
                38               5.6          3.0
                39               5.5          2.5
                40               5.5          2.6
                41               6.1          3.0
                42               5.8          2.6
                43               5.0          2.3
                44               5.6          2.7
                45               5.7          3.0
                46               5.7          2.9
                47               6.2          2.9
                48               5.1          2.5
                49               5.7          2.8
IRIS-IRONICA    0                NaN          NaN
                1                NaN          5.0

[152 rows x 6 columns]

In [216]:
# Indexing a particular value with multi-indexing
df_multi.petal_length['IRIS-SETOSA',20]

1.7

In [220]:
# partial indexing with the first index gives us our group back
df_multi.petal_length['IRIS-VIRGINICA']

number
0     6.0
1     5.1
2     5.9
3     5.6
4     5.8
5     6.6
6     4.5
7     6.3
8     5.8
9     6.1
10    5.1
11    5.3
12    5.5
13    5.0
14    5.1
15    5.3
16    5.5
17    6.7
18    6.9
19    5.0
20    5.7
21    4.9
22    6.7
23    4.9
24    5.7
25    6.0
26    4.8
27    4.9
28    5.6
29    5.8
30    6.1
31    6.4
32    5.6
33    5.1
34    5.6
35    6.1
36    5.6
37    5.5
38    4.8
39    5.4
40    5.6
41    5.1
42    5.1
43    5.9
44    5.7
45    5.2
46    5.0
47    5.2
48    5.4
49    5.1
Name: petal_length, dtype: float64